@import "./global";
@import "./smDevices";
@import "./lgDevices";
@import "./header";
.evqoKx {
  top: -150% !important;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.submit-text {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}
.submit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form-group {
    padding: 1rem 1rem;
    color: red;
    font-size: 0.7rem;
    width: 100%;
  }
  label {
    color: $textDark;
    font-weight: bold;
    font-size: 0.9rem;
  }
  input,
  textarea {
    &:focus {
      background: #e0e0e0;
    }
    background: #f5f5f5;
    font-size: 0.9rem;
    display: block;
    width: 100%;
    height: 2rem;
    padding-left: 0.5rem;
    margin-top: 0.1rem;
    border-radius: 5px;
    border-style: none;
    border: solid 1px grey;
    resize: vertical;
  }
  textarea {
    height: auto;
  }
  button {
    margin: 1rem 0;
    background: $primaryLight;
    padding: 0.7rem;
    border-style: none;
    border-radius: 10px;
    color: rgba($color: $textLight, $alpha: 0.8);
    font-weight: 500;
    font-size: 1.2rem;
    width: 15rem;
    transition: all 400ms ease-in-out;
    &:hover {
      background: $secLight;
    }
  }
}
.form-submit {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin: 1rem;
  }
  a {
    padding: 1rem 0;
  }
}
.filter-box {
  display: inline-block;
  width: 10rem;
}
.home-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 40px 40px;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1rem;

  .card {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
        0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    }
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-bottom: 1rem;
    padding: 0;
    word-wrap: break-word;
    background: #fff;
    border-radius: 10px;
    .card-img {
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .card-header {
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      p {
        padding-top: 1.5rem;
        padding-right: 1rem;
        font-weight: 500;
        font-size: 0.9rem;
      }
      .like-btn {
        cursor: pointer;
      }
    }
    .card-body {
      padding: 1rem;
      .fact-text {
        text-align: justify;
        opacity: 0.9;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      a {
        padding-top: 0.3rem;
        color: $primaryLight;
        opacity: 1;
        font-weight: 500;
        cursor: pointer;
        display: inline-block;
      }
      .span-category {
        display: inline-block;
        color: #fff;
        background: $primaryLight;
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        border-radius: 20px;
        margin: 0 0 0.8rem 0;
        font-size: 0.8rem;
      }
      .span-share {
        i {
          padding: 0 0.3rem;
        }
        cursor: pointer;
        display: inline-block;
        color: #fff;
        background: rgb(255, 63, 63);
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        border-radius: 20px;
        margin: 0 0 0.8rem 1rem;
        font-size: 0.8rem;
      }
    }
  }
}
.full-fact {
  padding-top: 3rem;

  .fact-img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    div {
      background-size: cover;
      height: 100% !important;
      width: 100% !important;
      filter: brightness(50%);
    }
  }
  .fact-text {
    position: relative;

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    // background: rgba($color: #000000, $alpha: 0.6);
    color: #fff;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow-wrap: break-word;
    margin-top: 1rem;
    overflow: hidden;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
        0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    }

    .like-div {
      border-top: solid 1.5px $accentLight;
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      p {
        padding-top: 1.5rem;
        padding-right: 1rem;
        font-weight: 500;
        font-size: 0.9rem;
      }
      .like-btn {
        cursor: pointer;
      }
    }
    .span-category {
      display: inline-block;
      color: #fff;
      background: $primaryLight;
      padding: 0.3rem 0.6rem 0.3rem 0.6rem;
      border-radius: 20px;
      margin-right: 0.6rem;
      font-size: 0.8rem;
    }
    .span-source {
      display: inline-block;
      color: #fff;
      background: rgb(0, 68, 204);
      padding: 0.3rem 0.6rem 0.3rem 0.6rem;
      border-radius: 20px;
      font-size: 0.8rem;
      margin-right: 0.6rem;
    }
    .span-share {
      i {
        padding: 0 0.3rem;
      }
      cursor: pointer;
      display: inline-block;
      color: #fff;
      background: rgb(255, 63, 63);
      padding: 0.3rem 0.6rem 0.3rem 0.6rem;
      border-radius: 20px;
      margin: 0.6rem 0 0.8rem 0;
      font-size: 0.8rem;
    }
    .fact-p {
      margin-top: 1.5rem;
      line-height: 1.6;
      text-align: justify;
      position: relative;
      padding-left: 0.5rem;
      &::before {
        content: "";
        position: absolute;
        background-color: $primaryLight;
        width: 0.19rem;
        height: 1.4rem;
        top: 0;
        left: 0;
      }
    }

    .keywords {
      height: 100%;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 0.3rem;
      span {
        font-weight: 500;
      }
      font-size: 0.8rem;
      .single-keywords {
        color: rgb(214, 214, 214);
        display: inline-block;
        font-weight: normal;
        margin: 0.2rem;
        padding: 0.1rem 0.3rem;
        border: solid 1px rgb(211, 211, 211);
        border-radius: 20px;
      }
    }
  }
}
.fotd {
  padding-top: 3rem;
  h2 {
    text-align: center;
    margin: 0;
  }
  .card {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
        0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    }

    margin-top: 2rem;
    padding: 1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
    word-wrap: break-word;
    border-radius: 10px;
    .card-img {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0;
      div {
        background-size: cover;
        height: 100% !important;
        width: 100% !important;
      }
    }
    .img-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: rgba($color: #000000, $alpha: 0.6);
      top: 0;
      left: 0;
    }
    .card-text {
      color: #fff;
      p {
        width: 100%;
        line-height: 1.6;
        margin-bottom: 3rem;
        word-wrap: break-word;
      }
      .tags {
        position: absolute;
        z-index: 3;
        bottom: 13px;
        left: 10px;
      }
      .span-source {
        color: #fff;
        background: rgb(0, 68, 204);
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        border-radius: 10px;
        font-size: 0.9rem;
        margin-right: 1rem;
      }
      .span-share {
        cursor: pointer;
        color: #fff;
        background: rgb(255, 63, 63);
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        border-radius: 10px;
        font-size: 0.9rem;
      }
    }

    .lottie {
      position: absolute;
      right: -70px;
      bottom: 0;
    }
  }
}
.discover {
  margin: 2rem 0;
  text-align: center;
  i {
    font-size: 0.9rem;
    padding-left: 0.1rem;
  }
}
.paginate {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.daily-h2 {
  text-align: center;
  padding-top: 1rem;
}
.daily-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 40px 40px;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 3rem;

  .card {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
        0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    }
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin-bottom: 1rem;
    padding: 0;
    word-wrap: break-word;
    background: #fff;
    border-radius: 10px;
    .card-img {
      object-fit: cover;
      width: 100%;
    }
    .card-header {
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      p {
        padding-top: 1.5rem;
        padding-right: 1rem;
        font-weight: 500;
        font-size: 0.9rem;
      }
      .like-btn {
        cursor: pointer;
      }
    }
    .card-body {
      padding: 1rem;
      .fact-text {
        text-align: justify;
        opacity: 0.9;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      a {
        padding-top: 0.3rem;
        color: $primaryLight;
        opacity: 1;
        font-weight: 500;
        cursor: pointer;
        display: inline-block;
      }
      .span-category {
        display: inline-block;
        color: #fff;
        background: $primaryLight;
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        border-radius: 20px;
        margin: 0 0 0.8rem 0;
        font-size: 0.8rem;
      }
      .span-share {
        i {
          padding: 0 0.3rem;
        }
        cursor: pointer;
        display: inline-block;
        color: #fff;
        background: rgb(255, 63, 63);
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        border-radius: 20px;
        margin: 0 0 0.8rem 1rem;
        font-size: 0.8rem;
      }
    }
  }
}
.search-box {
  margin: 1rem 0 0 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    display: inline-block;
    button {
      border-style: none;
      font-size: 1.5rem;
      background: none;
      margin: 0 1rem;
      height: 2.5rem;
      color: $primaryLight;
    }
  }
}
.search-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 40px 40px;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1rem;
  .lottie {
    p {
      text-align: center;
      margin-top: 1rem;
      font-weight: 500;
    }
  }
  .card {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
        0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    }
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-bottom: 1rem;
    padding: 0;
    word-wrap: break-word;
    background: #fff;
    border-radius: 10px;
    .card-img {
      position: relative;
      object-fit: cover;
      width: 100%;
    }
    .card-header {
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      p {
        padding-top: 1.5rem;
        padding-right: 1rem;
        font-weight: 500;
        font-size: 0.9rem;
      }
      .like-btn {
        cursor: pointer;
      }
    }
    .card-body {
      padding: 1rem;
      .fact-text {
        text-align: justify;
        opacity: 0.9;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      a {
        padding-top: 0.3rem;
        color: $primaryLight;
        opacity: 1;
        font-weight: 500;
        cursor: pointer;
        display: inline-block;
      }
      .span-category {
        display: inline-block;
        color: #fff;
        background: $primaryLight;
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        border-radius: 20px;
        margin: 0 0 0.8rem 0;
        font-size: 0.8rem;
      }
      .span-share {
        i {
          padding: 0 0.3rem;
        }
        cursor: pointer;
        display: inline-block;
        color: #fff;
        background: rgb(255, 63, 63);
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        border-radius: 20px;
        margin: 0 0 0.8rem 1rem;
        font-size: 0.8rem;
      }
    }
  }
}
