html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #4d4a4a;
}

body::-webkit-scrollbar-thumb {
  background: #665df5;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 600px) {
  .submit-form {
    width: 100%;
  }
  header .mainNav .nav-brand svg {
    height: 1.5rem;
    width: 1.5rem;
  }
  header .mainNav .nav-content .sidebar-btn-div {
    display: block;
  }
  header .mainNav .navlink {
    display: none;
  }
  header .mainNav .nav-brand-txt {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 600px) {
  .submit-form {
    width: 50%;
    margin: 0 auto;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
  background: #69696c;
  z-index: 8;
}

#drawerHook .sidebar {
  position: fixed;
  width: 60vw;
  background: linear-gradient(119deg, #5c53cb, #ff6584);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  scroll-behavior: smooth;
  z-index: 9;
}

#drawerHook .sidebar::-webkit-scrollbar {
  display: none;
}

#drawerHook .sidebar .sidebar-content {
  z-index: 9;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#drawerHook .sidebar .sidebar-content .navlink {
  font-weight: 500;
  font-size: 1.5rem;
}

#drawerHook .sidebar .sidebar-content .navlink li {
  display: block;
  margin-bottom: 2rem;
}

#drawerHook .sidebar .sidebar-content .navlink li a {
  color: #000;
}

#drawerHook .sidebar .sidebar-content .navlink .selected {
  width: 100%;
  padding-bottom: 0.2rem;
  border-bottom: solid 0.2rem #ff6584;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
}

#drawerHook .sidebar .sidebar-content .navlink .subfactbtn {
  background: linear-gradient(119deg, #5c53cb, #ff6584);
  padding: 0.5rem;
  border-style: none;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 1.5rem;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

#drawerHook .sidebar .sidebar-content .navlink .subfactbtn:hover {
  background: #fff;
  color: #5c53cb;
}

#drawerHook .sidebar .sidebar-content .navlink .subfactbtn i {
  padding: 0 5px;
}

header .mainNav {
  background: #5c53cb;
  min-width: 100vw;
  height: 4rem;
  color: black;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .mainNav .container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

header .mainNav svg {
  height: 2rem;
  width: 2rem;
  vertical-align: text-bottom;
}

header .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .nav-content .sidebar-btn-div {
  display: none;
  margin-left: auto;
}

header .nav-content .navlink {
  margin-left: auto;
}

header .nav-content .navlink li {
  display: inline-block;
  margin-right: 2rem;
}

header .nav-content .navlink li:last-child {
  margin-right: 0;
}

header .nav-content .navlink li a {
  color: #fff;
}

header .nav-content .navlink .li-link::after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 0.2rem;
  height: 0.2rem;
  width: 0px;
  background: transparent;
  -webkit-transition: width 0.5s ease, background-color 0.5s ease;
  transition: width 0.5s ease, background-color 0.5s ease;
}

header .nav-content .navlink .li-link:hover:after {
  width: 100%;
  background: #756dd4;
}

header .nav-content .navlink .selected {
  padding-bottom: 0.2rem;
  border-bottom: solid 0.2rem #ff6584;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
}

header .nav-content .navlink .subfactbtn {
  background: #756dd4;
  padding: 0.5rem;
  border-style: none;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

header .nav-content .navlink .subfactbtn:hover {
  background: #fff;
  color: #5c53cb;
}

header .nav-content .navlink .subfactbtn i {
  padding: 0 5px;
}

header .nav-brand-txt {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  padding-left: 0.5rem;
}

footer {
  width: 100vw;
  background: #756dd4;
}

footer .footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-div p {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.2rem;
  color: #fff;
  opacity: 0.7;
}

.evqoKx {
  top: -150% !important;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.submit-text {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}

.submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit-form .form-group {
  padding: 1rem 1rem;
  color: red;
  font-size: 0.7rem;
  width: 100%;
}

.submit-form label {
  color: #000;
  font-weight: bold;
  font-size: 0.9rem;
}

.submit-form input,
.submit-form textarea {
  background: #f5f5f5;
  font-size: 0.9rem;
  display: block;
  width: 100%;
  height: 2rem;
  padding-left: 0.5rem;
  margin-top: 0.1rem;
  border-radius: 5px;
  border-style: none;
  border: solid 1px grey;
  resize: vertical;
}

.submit-form input:focus,
.submit-form textarea:focus {
  background: #e0e0e0;
}

.submit-form textarea {
  height: auto;
}

.submit-form button {
  margin: 1rem 0;
  background: #5c53cb;
  padding: 0.7rem;
  border-style: none;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 1.2rem;
  width: 15rem;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.submit-form button:hover {
  background: #756dd4;
}

.form-submit {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-submit p {
  margin: 1rem;
}

.form-submit a {
  padding: 1rem 0;
}

.filter-box {
  display: inline-block;
  width: 10rem;
}

.home-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px 40px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 1rem;
}

.home-list .card {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 369px;
  margin-bottom: 1rem;
  padding: 0;
  word-wrap: break-word;
  background: #fff;
  border-radius: 10px;
}

.home-list .card:hover {
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.home-list .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.home-list .card .card-header {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-list .card .card-header p {
  padding-top: 1.5rem;
  padding-right: 1rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.home-list .card .card-header .like-btn {
  cursor: pointer;
}

.home-list .card .card-body {
  padding: 1rem;
}

.home-list .card .card-body .fact-text {
  text-align: justify;
  opacity: 0.9;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.home-list .card .card-body a {
  padding-top: 0.3rem;
  color: #5c53cb;
  opacity: 1;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}

.full-fact {
  padding-top: 3rem;
}

.full-fact .fact-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.full-fact .fact-img img {
  border-radius: 20px 0 20px 0;
}

.full-fact .fact-text {
  overflow-wrap: break-word;
  margin-top: 1rem;
  overflow: hidden;
  padding: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.full-fact .fact-text:hover {
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.full-fact .fact-text .span-category {
  color: #fff;
  background: #ff6584;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 20px;
  margin-right: 0.6rem;
  font-size: 0.8rem;
}

.full-fact .fact-text .span-source {
  color: #fff;
  background: #0044cc;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 20px;
  font-size: 0.8rem;
}

.full-fact .fact-text p {
  margin-top: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.fotd {
  padding-top: 3rem;
}

.fotd h2 {
  text-align: center;
  margin: 0;
}

.fotd .card {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  word-wrap: break-word;
  border-radius: 10px;
}

.fotd .card:hover {
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.fotd .card .card-img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
}

.fotd .card .card-img div {
  background-size: cover;
  height: 100% !important;
  width: 100% !important;
}

.fotd .card .img-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.fotd .card .card-text {
  color: #fff;
}

.fotd .card .card-text p {
  width: 100%;
  line-height: 1.6;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.fotd .card .card-text .span-source {
  color: #fff;
  background: #0044cc;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 20px;
  font-size: 0.8rem;
}

.fotd .card .lottie {
  position: absolute;
  right: -50px;
  bottom: 0;
}

.discover {
  margin: 2rem 0;
  text-align: center;
}

.discover i {
  font-size: 0.9rem;
  padding-left: 0.1rem;
}

.paginate {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.daily-h2 {
  text-align: center;
  padding-top: 1rem;
}

.daily-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px 40px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 3rem;
}

.daily-list .card {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;
  word-wrap: break-word;
  background: #fff;
  border-radius: 10px;
}

.daily-list .card:hover {
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.daily-list .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.daily-list .card .card-header {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.daily-list .card .card-header p {
  padding-top: 1.5rem;
  padding-right: 1rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.daily-list .card .card-header .like-btn {
  cursor: pointer;
}

.daily-list .card .card-body {
  padding: 1rem;
}

.daily-list .card .card-body .fact-text {
  text-align: justify;
  opacity: 0.9;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.daily-list .card .card-body a {
  padding-top: 0.3rem;
  color: #5c53cb;
  opacity: 1;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */